---
import { NAVIGATION } from "../../constants/navigation";
import Icon from "astro-icon";
const pathname = new URL(Astro.request.url).pathname;

const isActive = (path: string) => {
  if (path === "/") return pathname === "/";
  return pathname.startsWith(path);
};
---

<nav>
  <div class="nav-links">
    {
      NAVIGATION.map(({ name, path }) => (
        <a href={path} class={isActive(path) ? "active" : ""}>
          {name}
        </a>
      ))
    }
  </div>
  <div class="nav-tools">
    <span class="theme-toggle">
      <Icon name="mdi:theme-light-dark" />
    </span>
    <span class="theme-toggle">
      <Icon name="mdi:translate" />
    </span>
  </div>
</nav>

<style>
  nav {
    display: flex;
    align-items: center;
    justify-content: space-between; /* Distribuir espacio entre nav-links y nav-tools */
    position: fixed; /* Fijar el nav en la parte superior */
    top: 0;
    left: 0; /* Asegurarse de que el nav comience desde el borde izquierdo */
    width: 100%; /* Asegurarse de que el nav ocupe todo el ancho */
    background: var(
      --background-color
    ); /* Asegurarse de que el fondo sea visible */
    z-index: 1000; /* Asegurarse de que el nav esté por encima de otros elementos */
    padding: 1rem; /* Añadir padding para que el contenido no esté pegado al borde */
    backdrop-filter: blur(10px); /* Añadir efecto borroso */
  }

  .nav-links {
    display: flex;
    gap: 1.5rem;
    margin: 0 auto; /* Centrar nav-links */
  }

  .nav-links a {
    color: var(--text-muted);
    text-decoration: none;
    font-size: var(--text-sm);
    transition: color var(--transition-base);
    position: relative;
  }

  a {
    color: var(--text-muted);
    text-decoration: none;
    font-size: var(--text-sm);
    transition: color var(--transition-base);
    position: relative;
  }

  a:hover {
    color: var(--color-text);
  }

  a.active {
    color: var(--color-text) !important;
  }

  a.active::after {
    content: "";
    position: absolute;
    bottom: -2px;
    left: 0;
    width: 100%;
    height: 1px;
    background: var(--text-muted);
  }

  .nav-tools {
    display: flex;
    align-items: center;
    gap: 1rem;
  }

  .theme-toggle {
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 2rem;
    height: 2rem;
    border-radius: 50%;
    transition: background-color var(--transition-base);
  }

  .theme-toggle:hover {
    background-color: var(--hover-background-color);
  }

  .theme-toggle svg {
    width: 1.5rem;
    height: 1.5rem;
    fill: var(--text-muted);
    transition: fill var(--transition-base);
  }

  .theme-toggle:hover svg {
    fill: var(--color-text);
  }
</style>
